.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 30px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/headerimg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}
.normal-container{
  padding-top: 50px;
}
.normal-card{/*
  padding-top: 8px;
  padding-bottom: 8px;
  -moz-box-shadow:8px 8px 8px #333333; -webkit-box--moz-box-shadow:8px 8px 8px #333333; -webkit-box-shadow:8px 8px 8px #333333; box-shadow:8px 8px shadow:8px 8px 8px #333333; box-shadow:8px 8px 8px #333333; 8px #333333;
  */
}
